.google-map-container{
  height: 200%;
  width : px;
}


.contactmain1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: #369;
  margin-left: 10%;
  height: 300px;
  width : 300px;

}


.line-input {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: 80%;
  border-bottom: 2px solid#68E0CF;
  color: white;
  font-size: 18px;
}
.subc {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-left: 1%;

}
.nfo info1{
  display: flex;
  flex-direction: column;
}

 .send1 {
  color: white;
  background: #68E0CF;
  border-radius: 20px;
  padding: 15px;
  font-size: 17px;
  border: 0;
 }


