.contactmain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3498db;
  gap : 5px;
  height: 300px;
  width : 40%;

}

.contactmain1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: #3498db;
  margin-left: 10%;
  height: 300px;
  width : 90%;
}

.gmap_iframe{
  height: 75%;
  width : 85%;
  border: 2px solid#68E0CF;

}
.line-input {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: 80%;
  border-bottom: 2px solid#68E0CF;
  color: white;
  font-size: 18px;
}
.subc {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-left: 10%;
}
.nfo info1{
  display: flex;
  flex-direction: column;
}

 .send1 {
  color: white;
  background: #68E0CF;
  border-radius: 20px;
  padding: 15px;
  font-size: 17px;
  border: 0;
 }



 @media only screen and (max-width: 500px) {

  .subc {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 1%;
  
  }
  .contactmain{
    width : 80%;
    margin-bottom: 20%;
  }

}