* {
    margin: 0;
    padding: 0;
  }
  header {
    width: 100%;
    position: fixed !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 100px;
  }

 
  .head-section-1 {
    display: flex;
    flex-direction: row;
    height: 75px;
    background-color: white;
    border-color: aqua;
    justify-content:center; 
  }
  .elearn {
    color: #369; 
    margin: 0; 
    float: left;
    width: 100%;
  }
  
  
  .signin {
    color: #369; 
    font-size: smaller;
    font-family: "Kanit", sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding-top: 10%;
    width : 250px;

    
  }
  .signin:hover {
    color: aqua;
  }
  .signup {
    background-color: #6CC4C5;
    color: #369;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 120px;
    width: 100px;
    height: 40px;
    margin-top: 5%;
    margin-left: 70px;

  }
  .signup:hover {
    color: white;
  }
  
@media only screen and (max-width: 500px) {
  header {
    width: 100%;
    position: fixed !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
} 