
.mycaro {
  width: 180%;
  background: no-repeat center center scroll;
  background-size: cover;
 align-items: center;
  position: relative; 
  justify-content: center;
  padding-top: 40px; /* Ajustez le padding-top en conséquence */
  background-position: center center;
  height: 50%;
  }


  
  .slick-slider {
    margin-top: 0px;
  }


  .monim {
    width: 50%;
    object-fit: cover; 
    align-items: center;
    height : 350px;
  }

  .slider-button {
    position: absolute;
    top: 100%;
    left: 150%;
    transform: translate(-50%, -50%);
  }

  


/* Styles for the dots (pagination) */
.slick-dots {
  position: absolute;
  bottom: 20px; /* Ajustez la distance par rapport au bas de l'écran selon vos besoins */
  left: 25%;
  transform: translateX(-50%);
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-dots li {
  margin: 0 5px;
}

.slick-dots li button {
  font-size: 12px; /* Ajustez la taille de la police des points selon vos besoins */
  width: 12px; /* Ajustez la taille des points selon vos besoins */
  height: 12px; /* Ajustez la taille des points selon vos besoins */
  border: none;
  border-radius: 50%;
  background-color: #ccc; /* Couleur des points inactifs */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slick-dots li.slick-active button {
  background-color: #17093a; /* Couleur du point actif */
}
@media only screen and (max-width: 600px) {
  .mycaro {
    width: 100%;
    margin-left: 10%;
    }
    /* Styles for the dots (pagination) */
.slick-dots {
  left: 40%;
}
}