.slider-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre portée (shadow) */
  }
  
  .slick-slider {
    margin-top: 20px;
  }
  
  .slick-prev, .slick-next {
    font-size: 24px;
    line-height: 1;
    color: #333;
  }
  
  .slick-prev {
    left: -40px;
  }
  
  .slick-next {
    right: -40px;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  