.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 0px rgba(165, 184, 206, 0.3); 
  width : 75%;
  margin-left: 10%;
  }


  .item {
    margin-bottom: 20px;
    background-color: #4194ec; /* Bleu */
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(91,174,253,1);
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    width : 95%;
  }

  .item:hover {
    color: #142877;
    font-size:large;
    font-weight: bold;
    background: linear-gradient(180deg, rgba(91,174,253,1) 0%, rgba(109,120,221,1) 100%);
    transform: scale(1.2);
  }
  
  .label {
    font-size: 18px;
    text-align: left;
    margin-right: 20%;
  }
  .date {
    font-size: 16px;
    margin-right: 20%;
  }
.img1 {
  height: 50px;
  width: 50px;
  border-radius: 70%;
  margin-right: 20%;
}
  .command-button {
    background-color: aqua; /* Aqua */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    margin-top: 10px;
    cursor: pointer;
  }
  .command-button:hover{ 
    color: aqua; /* Aqua */
    background-color: white;

  }

  

  