*{
    margin :0%;
    padding: 0%;
}
.head-section-1 {
    display: flex;
    flex-direction: row;
    justify-content:center; 
    align-items: center;
    margin-left : 15%;

  }

  
  
  .signin {
    color: #369; 
    font-size: smaller;
    font-family: "Kanit", sans-serif;
    font-weight: bold;
    font-size: 16px;
    width: 500%;
    margin-right: 10%;
    
  }
  .signin:hover {
    color: aqua;
  }
  .signup {
    background-color: #6CC4C5;
    color: #369;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 120px;
    width: 200%;
    height: 40px;
    margin-left: 50%;
  }
  .signup:hover {
    color: white;
  }

.header1 {
    margin-top: 4%;
    /*position: fixed !important;*/
    width: 120%;
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;

    height: 1px;
}

.header-nav a{
    color: #369;
    margin :0 1rem;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    
}

.header-nav a:hover {
    color: aqua;
  }
.nav-btn{
    background-color: transparent;
    border: none;

    outline: none;
    visibility: hidden;
    opacity: 0;
    font-size: 58px;
    padding-left: 150px;
}
.nav-btn{
    background-color: transparent;
    border: none;
    padding: 1px;
    outline: none;
visibility: hidden;
    opacity: 0;
    font-size: 25px;

}




.btn_start {
    background: rgb(91,174,253);
    background: linear-gradient(180deg, rgb(12, 50, 88) 0%, rgba(109,120,221,1) 100%);
    color: white;
    border-color: transparent;
    padding: 3% 3%;
    margin-top: 10%;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    height: 55px;
    border-radius: 5%;
    width: 200px;
}





@media only screen and (max-width: 600px) {

    .header1 {
        margin-top: 22%;
    }
    .signup {
        margin-left: 0%;
        margin-top: 30%;
      }
      .signin {
        margin-left: 50%;
 
      }
    .head-section-1 {
        display: flex;
        flex-direction: column;
        justify-content:center; 
        align-items: center;

      }



.nav-btn{
    visibility: visible;
    opacity: 1;
    padding-left: 1px;
    
}
.nav-btn{
    visibility: visible;
    opacity: 1;
}
.header-nav{
       position: fixed;
    top: 60px;
    left: 0;
    height: 252px;
    width: 172px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background: rgb(91,174,253);
background: linear-gradient(180deg, rgba(91,174,253,1) 0%, rgba(109,120,221,1) 100%);

    transition: 1s;
    transform: translateX(-100vh);
}
.Fabars{
    background: rgb(91,174,253);
background: linear-gradient(180deg, rgba(91,174,253,1) 0%, rgba(109,120,221,1) 100%);
color: white;
}
.responsive_nav{
    transform: none;
}
.nav-close-btn{
    color: white;
position: absolute;
top: 1px;
right: 1px;
}
.headear-a{
    font-size: 1,5rem;
}



.btn_start{
    font-size: 16px;
    margin-top: 2%;
}
.header1 {
    align-items: flex-end;
gap:19%;
}

}