.line-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
  }

  
  .line {
    width: 150px;
    align-items: center;
    border-color: #369;
  } 
  .linevert {
    width: 200px;
    align-items: center;
    border-color: aqua;
  } 
  .svgs{
    width:25px;
    height:25px;
    margin-right: 15px;
  }