*{
  margin :0%;
  padding: 0%;
}
.head-section-1 {
  display: flex;
  flex-direction: row;
  justify-content:center; 
  align-items: center;
  margin-left : 40%;
}

.minihead{
  background: #036;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  align-items: center
}

.signup {
  background-color: #6CC4C5;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 120px;
  width: 200%;
  height: 40px;
  margin-left: 50%;
}

.signup:hover {
  background-color: white;
  color: #6CC4C5;
  font-weight: bold;
}
.header-nav a{
  color: white;
  margin :0 1rem;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  
}

.header-nav a:hover {
  color: aqua;
}
.nav-btn{
  background-color: transparent;
  border: none;
  outline: none;
  visibility: hidden;
  opacity: 0;
  font-size: 58px;
  padding-left: 150px;
  padding: 25px;
}

.btn_start {
  background: rgb(91,174,253);
  background: linear-gradient(180deg, rgb(12, 50, 88) 0%, rgba(109,120,221,1) 100%);
  color: white;
  border-color: transparent;
  padding: 3% 3%;
  margin-top: 15%;
  cursor: pointer;
  font-size: 26px;
  font-weight: bold;
  height: 55px;
  border-radius: 5%;
  width: 200px;
}


.frameBoxpp {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}






.headertitle{
  background: #036;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height : 80%

}
.siteheader button {
  background-color: aqua; /* Aqua */
  color: rgb(217, 216, 223);
  border: none;
  padding: 12px 24px; /* Ajustez la taille du bouton */
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  transition: background 0.3s ease; /* Ajout de transition au survol */
  
}
.box {
  width: 100%;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px rgba(189, 205, 223, 0.3); /* Ombre de boîte bleue */
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;

  background: #f0f0f0;
  margin-top: 2%;
  height: 25px;
  line-height: 25px;
  font-size: 14px;
  width : 75%;

}

.box img {
  width: 25%;
  height: 100px;
  border-radius:12px;
  margin-left: 0%;
}

.box-content {
  flex: 1;
  margin-left: 10px;

}
.box p {
  margin-bottom: 25px;
}

.box button {
  border: none;
  padding: 12px 24px; /* Ajustez la taille du bouton */
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  transition: background 0.3s ease; /* Ajout de transition au survol */
  color: #fff;
  background-color: #319bf5;
  border-color: #ccc;
}

.box button:last-child {
  margin-right: 0;
}

.box button:hover {
  background-color: #319bf5; 
  border-color: #ccc;
  color :#fff;
}

.button {
  color: #fff;

  display: block;
  margin: 40px auto;
  width: 90%;
  max-width: 200px;
  text-decoration: none;
  border-color: #ccc;
  background-color: #319bf5;
  padding: 12px 24px; /* Ajustez la taille du bouton */
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease; /* Ajout de transition au survol */
}

.button:hover {
  background-color: #75b5dd; /* Bleu clair */
}

.button:focus, .a:focus {
  outline: none;
}

@media only screen and (max-width: 600px) {

  .signup {
      margin-right: 10%;
      margin-top: 30%;
    }

  .head-section-1 {
      display: flex;
      flex-direction: column;
      justify-content:center; 
      align-items: center;

    }

.nav-btn{
  visibility: visible;
  opacity: 1;
  padding-left: 1px;
  margin-top: 2%;
  
}

.header-nav{
  position: fixed;
  top: 60px;
  left: 0;
  height: 252px;
  width: 172px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background: rgb(91,174,253);
  background: linear-gradient(180deg, rgba(91,174,253,1) 0%, rgba(109,120,221,1) 100%);
  transition: 1s;
  transform: translateX(-100vh);
}
.Fabars{
  background: rgb(91,174,253);
background: linear-gradient(180deg, rgba(91,174,253,1) 0%, rgba(109,120,221,1) 100%);
color: white;
}
.responsive_nav{
  transform: none;
}
.nav-close-btn{
color: aqua;
position: absolute;
bottom: 60%;
left: 120px;

}


.Fabars{
  background: rgb(91,174,253);
background: linear-gradient(180deg, rgba(91,174,253,1) 0%, rgba(109,120,221,1) 100%);
color: white;
}
.responsive_nav{
  transform: none;
}



.box {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px rgba(189, 205, 223, 0.3); /* Ombre de boîte bleue */
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.box-content {
  flex: 1;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
}