*{
  margin :0%;
  padding: 0%;
  
}
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Cela garantit que le conteneur est centré verticalement sur la page */
  background: linear-gradient(180deg, rgb(12, 50, 88) 0%, rgba(109,120,221,1) 100%);

}

.grandtitre{
  display :flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.title {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #64CCC5;
}
  .line {
    width: 15%;
    align-items: center;
    border-color: #369;
  } 
.head-section-1 {
  display: flex;
  flex-direction: row;
  justify-content:center; 
  align-items: center;
}

.minihead{
  background: #036;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /*position: fixed !important;*/
  height: 100px;
}

.signup {
  background-color: #6CC4C5;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 120px;
  width: 200%;
  height: 40px;
  margin-left: 50%;
}

.signup:hover {
  background-color: white;
  color: #6CC4C5;
  font-weight: bold;
}
.header-nav a{
  color: white;
  margin :0 1rem;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}
.header-nav a{
  color: white;
  margin :0 1rem;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

.header-nav a:hover {
  color: aqua;
}
.nav-btn{
  background-color: transparent;
  border: none;
  outline: none;
  visibility: hidden;
  opacity: 0;
  font-size: 58px;
  padding-left: 150px;
  padding: 25px;
}

.btn_start {
  background: rgb(91,174,253);
  background: linear-gradient(180deg, rgb(12, 50, 88) 0%, rgba(109,120,221,1) 100%);
  color: white;
  border-color: transparent;
  padding: 3% 3%;
  margin-top: 15%;
  cursor: pointer;
  font-size: 26px;
  font-weight: bold;
  height: 55px;
  border-radius: 5%;
  width: 200px;
}


.frameBoxpp {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.box {
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 0px rgba(189, 205, 223, 0.3); /* Ombre de boîte bleue */
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #f0f0f0;
  margin-top: 1%;
  margin-bottom: 1%;
  height: 100px;
  line-height: 25px;
  width : 75%;
}

.topcard {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #142877; 
  font-weight: bold;
  padding: 10px;
  border-radius: 15px;
  background: #f0f0f0;
  height: 130px;
  line-height: 25px;
  width : 20%;
  margin-right: 1%;
  margin-left: 20px;
  margin-top: 2%;
  border: 2px solid#68E0CF;
}

.card button:hover {
  background-color:aqua; 
  color: #142877; 
}
.card button {
  border: none;
  padding: 12px 24px; /* Ajustez la taille du bouton */
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease; /* Ajout de transition au survol */
  color: #fff;
  background-color: #319bf5;
  border-color: #ccc;
  margin-top: 2%;
}
.card img {
  width: 80%;
  height: 50%;
  border-radius:12px;
  margin-bottom: 2%;

}

.card:hover {
  color: #142877;
  font-size:large;
  font-weight: bold;
  background: linear-gradient(180deg, rgba(91,174,253,1) 0%, rgba(109,120,221,1) 100%);
}

.box:hover {
  color: #142877;
  font-size:large;
  font-weight: bold;
  background: linear-gradient(180deg, rgba(91,174,253,1) 0%, rgba(109,120,221,1) 100%);
}

.cimg {
  width: 100px;
  height: 100px;
  border-radius:12px;
  margin-left: 0%;
  margin-top: 2px;
}

.box-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;

}

.box button:hover {
  background-color:aqua; 
  color: #142877; 
}

.enroll {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}
.box button {
  border: none;
  padding: 12px 24px; /* Ajustez la taille du bouton */
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease; /* Ajout de transition au survol */
  color: #fff;
  background-color: #319bf5;
  border-color: #ccc;
}
/* Style pour le fond du popup */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 20px 0px rgba(189, 205, 223, 0.3); /* Ombre de boîte bleue */
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* Style pour le contenu du popup */
.modal-content {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(189, 205, 223, 0.3); /* Ombre de boîte bleue */
  text-align: center;
  background: linear-gradient(180deg, rgba(91,174,253,1) 0%, rgba(109,120,221,1) 100%);

}

/* Style pour le titre du popup */
.modal-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

/* Style pour le texte du popup */
.modal-text {
  font-size: 18px;
  margin-bottom: 20px;
  color: white;
}

/* Style pour le bouton de fermeture du popup */
.modal-close-btn {
  background: aqua;
  color: #142877;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

/* Style au survol du bouton de fermeture du popup */
.modal-close-btn:hover {
  background: #142877;
  color: aqua;
}
/*style de homepage*/

.head-section-1 {
  display: flex;
  flex-direction: row;
  justify-content:center; 
  align-items: center;
  margin-left : 5%;

}
/*menu .*/
.signin {
  color: white; 
  font-size: smaller;
  font-family: "Kanit", sans-serif;
  font-weight: bold;
  font-size: 16px;
  width: 500%;
  margin-right: 10%;

}
.signin:hover {
  color: aqua;
}
.signup {
  background-color: #6CC4C5;
  color: #369;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 120px;
  width: 200%;
  height: 40px;
  margin-left: 50%;
}
.signup:hover {
  background-color:white;
  color: #6CC4C5;
}


.header-nav a{
  color: white;
  margin :0 1rem;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  
}

.header-nav a:hover {
  color: aqua;
}
.nav-btn{
  background-color: transparent;
  border: none;
  outline: none;
  visibility: hidden;
  opacity: 0;
  font-size: 58px;
  padding-left: 150px;
}

.btn_start {
  background: rgb(91,174,253);
  background: linear-gradient(180deg, rgb(12, 50, 88) 0%, rgba(109,120,221,1) 100%);
  color: white;
  border-color: transparent;
  padding: 3% 3%;
  margin-top: 10%;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  height: 55px;
  border-radius: 5%;
  width: 200px;
}

/*slider homepage*/


.mycaro {

  background: no-repeat center center scroll;
  background-size: cover;
 align-items: center;
  position: relative; 
  justify-content: center;
  padding-top: 10px; /* Ajustez le padding-top en conséquence */
  background-position: center center;
  height: 50%;


  }


  
  .slick-slider {
    margin-top: 0px;
  }

  .monim {
    width: 100%;
    object-fit: cover; 
    align-items: center;
    height : 350px;


    position: relative;
 
    width: 100%;

  }

  .slider-button {
    position: absolute;
    transform: translate(-50%, -50%);
  }

  


/* Styles for the dots (pagination) */
.slick-dots {
  position: absolute;
  bottom: 20px; /* Ajustez la distance par rapport au bas de l'écran selon vos besoins */
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-dots li {
  margin: 0 5px;
}

.slick-dots li button {
  font-size: 16px; /* Ajustez la taille de la police des points selon vos besoins */
  width: 12px; /* Ajustez la taille des points selon vos besoins */
  height: 12px; /* Ajustez la taille des points selon vos besoins */
  border: none;
  border-radius: 50%;
  background-color: #ccc; /* Couleur des points inactifs */
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.grey {
  color: #369;
  text-align: center;
  font-size: 20px;

}

.grey:hover {
  color: #142877;
  font-weight: bold;
}

.subc {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 100%;

}

.contactmain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width : 40%;
  background: #f0f0f0;
  margin-top: 1%;
  margin-bottom: 1%;
  box-shadow: 0px 0px 20px 0px rgba(189, 205, 223, 0.3); /* Ombre de boîte bleue */


}

.send1 {
  color: white;
  background: #68E0CF;
  border-radius: 20px;
  padding: 15px;
  font-size: 17px;
  border: 0;
 }
 .line-input {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: 100%;
  border-bottom: 2px solid#68E0CF;
  color: rgb(31, 8, 56);
  font-size: 16px;
}

.contactmain1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f0f0f0;
  height: 300px;
  width : 90%;
}

.gmap_iframe{
  height: 75%;
  width : 85%;
  border: 2px solid#68E0CF;

}


.flip-card.last-card {
  margin-right: 0;
}
.testimonial-container > .flip-card:last-child {
  margin-right: 0;
}
.testimonial-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30vh;
    align-items: flex-start; 
      margin-bottom: 10%;
  }
  
  .flip-card {
    background-color: transparent;
    width: 100%; /* ou une valeur spécifique en pixels ou en pourcentage */
    height: 100%; /* ou une valeur spécifique en pixels ou en pourcentage */
    margin: 0; /* Réinitialisez la marge à zéro */
    padding: 2%; 
  }
  .flip-card h2,
.flip-card p {
  margin: 0; /* Réinitialisez la marge à zéro */
  padding: 0; /* Réinitialisez le rembourrage à zéro */
}
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    margin: 0; /* Réinitialisez la marge à zéro */
    padding: 0; 
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front,
  .flip-card-back {
    backface-visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    position: absolute;
    width: 85%;
    height: 100%;
    backface-visibility: hidden;
    margin: 0; /* Réinitialisez la marge à zéro */
    padding: 0; 

  }
  .flip-card-front {
    background-color: #3498db; /* Couleur bleue */
    color: white; /* Texte blanc sur l'arrière-plan bleu */
  }
  .flip-card-back {
    background-color: #ffffff; /* Arrière-plan blanc */
    color: #3498db; /* Texte foncé sur l'arrière-plan blanc */
    transform: rotateY(180deg);
  }

  .quote-icon {
    font-size: 25px;
  }
  
  .testimonial-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

  }
  

@media only screen and (max-width: 600px) {

  .grandtitre{
    margin-top :5%;
    margin-bottom : 5%;
  }
  .line {
    width: 40%;
  } 
  .signup {
      margin-top: 30%;
    }

  .head-section-1 {
      display: flex;
      flex-direction: column;
      justify-content:center; 
      align-items: center;

    }

.nav-btn{
  visibility: visible;
  opacity: 1;
  padding-left: 1px;
  margin-top: 2%;
  
}

.header-nav{
  position: fixed;
  top: 60px;
  left: 0;
  height: 252px;
  width: 172px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background: rgb(91,174,253);
  background: linear-gradient(180deg, rgba(91,174,253,1) 0%, rgba(109,120,221,1) 100%);
  transition: 1s;
  transform: translateX(-100vh);
}
.Fabars{
  background: rgb(91,174,253);
background: linear-gradient(180deg, rgba(91,174,253,1) 0%, rgba(109,120,221,1) 100%);
color: white;
}
.responsive_nav{
  transform: none;
}
.nav-close-btn{
color: aqua;
position: absolute;
bottom: 60%;
left: 120px;

}


.Fabars{
  background: rgb(91,174,253);
background: linear-gradient(180deg, rgba(91,174,253,1) 0%, rgba(109,120,221,1) 100%);
color: white;
}
.responsive_nav{
  transform: none;
}



.box {
  display: flex;
  flex-direction:column;
  align-items: center;
  background: #f0f0f0;
  margin-top: 1%;
  margin-bottom: 1%;
  height: 100%;
}

.box-content {
flex-wrap: wrap;

}
.cimg {
  width: 75%;
  height :120px;

}
.enroll {
  padding-right: 10%;
}

.subc {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 1%;

}
.contactmain{
  width : 80%;
  margin-bottom: 20%;
}


}